
$body-bg: #f8f2e9;
$font-family-sans-serif: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;

$brand-primary: #222;

$link-color: #337ab7;

$btn-font-weight: 600;

$border-radius: 0;
$border-radius-lg: 0;

$border-radius-base: $border-radius;
$border-radius-large: $border-radius-lg;
