@import "../bower/bootstrap/less/bootstrap";
@import "icons";
@import "blocs";

@body-bg: #f8f2e9;
@font-family-sans-serif:  Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;

html, body {
  height:100%;
  width:100%;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 13px;
}

h1, .lead, strong {
  font-weight: 600;
}

.icon-circle {
  font-size: 50px;
  padding:10px;
  border:2px solid #000;
  border-radius: 50px;
  color:#000;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

header {
  background: @body-bg;
  height:90px;
  z-index: 1000;
  text-align: center;
  width: 100%;
  padding:15px 0;
}

footer {
  height: 45px;
}

.logo .baseline {
  display: block;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.logo .marque {
  width:78px;
  height: 25px;
  margin:auto;
  background: url('/css/img/logo-e.png') no-repeat center top;
  background-size: 100%;
}


header .left,
header .right {
  position: absolute;
  top:7px;
  color: darken(@body-bg, 10%);
  border-color: darken(@body-bg, 10%);
  cursor: pointer;

  &:hover {
    color: #000;
    border-color: #000;
  }

}
header .left {
  left:50px;
}
header .right {
  right:50px;
}

a:hover, a:active, a:focus {
  outline: 0;
}

.half-gutter {
  margin-right: -@grid-gutter-width/4;
  margin-left: -@grid-gutter-width/4;

  & > [class*='col-'] {
    padding-right:@grid-gutter-width/4;
    padding-left:@grid-gutter-width/4;
  }
}

.half-half-gutter {
  margin-right: -@grid-gutter-width/8;
  margin-left: -@grid-gutter-width/8;

  & > [class*='col-'] {
    padding-right:@grid-gutter-width/8;
    padding-left:@grid-gutter-width/8;
  }
}

#imagelightbox {
  position: fixed;
  z-index: 9999;
  -ms-touch-action: none;
  touch-action: none;
}

#imagelightbox-overlay {
  background-color: #000;
  background-color: rgba(0, 0, 0, .8);
  position: fixed;
  z-index: 9998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  -webkit-animation: fade-in .25s linear;
  animation: fade-in .25s linear;
}

#imagelightbox-caption {
  text-align: center;
  color: #fff;
  position: fixed;
  z-index: 10001;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.625em;
}

@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}


@media (max-width:@screen-xs-max) {

  h1 {
    font-size: 26px;
  }

}
