

.bloc {
  height: @idee-bloc-hauteur;
  width:@idee-bloc-largeur-ferme;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
  cursor: pointer;
  border-left:3px solid @body-bg;
  border-right:3px solid @body-bg;

  background-color: #bebebe;
  background-position: center top;
  background-repeat: no-repeat;
}

.bloc.fermeture {
  width:@idee-bloc-largeur-ferme !important;

  .cartel,
  .action-pli,
  .fiche {
    display: none !important;
  }
}

.bloc .hint {
  margin: 0;
}

.bloc.projet .hint {
  font-size:130px;
  font-weight: 100;
}

.bloc .cartel {
  display: none;
  position: absolute;
  top:@idee-bloc-hauteur;
  width: 100%;
  text-align: center;
  padding:@grid-gutter-width/2 100px;

  h1 {
    font-size: 30px;
    margin:@grid-gutter-width/4 0;
  }
}

.bloc .action-pli {
  display: none;
  position: absolute;
  bottom:20px;
  left:50%;
  margin-left:-31px;
  cursor: pointer;
  text-decoration: none;
  color:#000;

  .ouvrir {
    display:block;
  }
  .fermer {
    display:none;
  }

  &:hover {
    padding:15px;
    margin-left:-36px;
    bottom: 15px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
}

.bloc.ouvert,
.bloc.ouverture {
  width: @idee-bloc-largeur-ouvert;
  cursor: default;

  .hint {
    display:none;
  }
}

.bloc.ouverture,
.bloc.fermeture {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.bloc.ouvert .cartel,
.bloc.ouvert .action-pli {
  display: block;
}

.bloc .fiche {
  display: none;
  position: absolute;
  top:90px;
  width:100%;
  background: #fff;
  text-align:left;
  padding:@grid-gutter-width*2 @grid-gutter-width @grid-gutter-width @grid-gutter-width;

  h1 {
    margin:0 0 @grid-gutter-width 0;
  }

  .lead {
    font-size: 18px;
    margin:0 0 @grid-gutter-width 0;
  }
}

.bloc.deplie {
  .fiche {
    display: block;
  }
  .cartel {
    display: none;
  }
  .action-pli {
    bottom:auto;
    top:30px;
    z-index: 100;

    .ouvrir {
      display:none;
    }
    .fermer {
      display:block;
    }

    &:hover {
      top:25px;
    }

  }
}

.bloc .photos {
  margin-top: @grid-gutter-width;
}

.bloc .photos .imagelightbox {
  display: block;
  height: 0;
  padding-bottom: 66%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: @grid-gutter-width/4;
}


@media (max-width:@screen-xs-max) {

  .bloc.page {
    display: none;
  }

  .bloc {
    display: block;
    position: relative;
    width: auto !important;
    height: auto !important;
    margin:0 0 20px 0;
    border:none;
    min-height: 250px;
    cursor: default;
    padding-top:150px;
  }
  
  .bloc .fiche {
    display: block !important;
    top:auto;
    width:auto;
    position: relative;
    background: #fff;
    text-align:left;
    padding:@grid-gutter-width @grid-gutter-width/2;

  }

  .bloc .cartel, .action-pli, .hint {
    display: none !important;
  }
}

@media (max-height:650px) {
  .bloc {
    height: 200px;
  }
  .bloc .cartel {
    top: 200px;
  }
}